<% if params[:admin] == "kimyonghyun" %>
	<center>
		<h2 style="margin-top: 100px;">
			<strong>
				<% if params[:authority] == "super_admin"%>
					<a href="/seeds/20160829_081900_0000/seeds.rb" download>Download-seeds.rb</a><br>
				<% else %>
					<a href="/">403 Bad Request</a><br>
				<% end %>
			</strong>
		</h2>
	</center>
<% end %>
