<div class="row">
    <div class="carousel-inner" style="background-size: cover;    background-position: center center; background-image: url(http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/797/320/80797320_1456999961311_1_600x600.JPG);height: 410px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <%= render partial: 'home/mylist/profile', layout: false %>
                <%= render partial: 'home/mylist/navi', layout: false %>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
