<!-- Navigation -->
<%= render partial: 'global_renders/main_navbar' %>

<!-- Half Page Image Background Carousel Header -->
<%= render partial: 'gorae/local_renders/main_slider' %>

<!-- Page Content -->
<div class="container">
    <!--오늘의 인기차트-->
    <div class="row">
        <div class="col-lg-12">
            <h1>Half Slider by Start Bootstrap</h1>
            <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the <code>half-slider.css</code>file.</p>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <%= render partial: 'global_renders/all_footer' %>

</div>
<!-- /.container -->

<script src="../js/jquery.js"></script>
