<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-image: none; background-color:#212121;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="navbar-header page-scroll" style="margin-bottom:0px;">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/main">고래방</a>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav"  style="float:right;">
                        <li>
                            <a href="/home/EvalKey" style="background-image: initial;">평가하기</a> <!-- <span class="sr-only">(current)</span></a> -->
                        </li>
                        <li>
                            <a href="#" style="background-image: initial;">추천받기</a>
                        </li>
                        <li>
                            <a href="/home/MyList" style="background-image: initial;">마이리스트</a>
                        </li>
                        <% if user_signed_in? %>
                        <li><a href="#"><%= current_user.name %></a></li>
                        <% else %>
                        <li><a href="#"></a></li>
                        <% end %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-image: initial; padding-top:15px; padding-bottom:15px;"><img src="/images/icon/profile_photo.png" width="30" height="30"/></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">노래보관함</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">정보수정</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/users/sign_out">로그아웃</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </nav>
</div>
