/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-top: 90px;
  z-index:0;
}

.slide-background{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
}
.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    -ms-filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center center;
}
.check_grid_layout_box{
    height:100px;
    background:rgba(151, 179, 200, 0.5);
}
.slide-background-blur{
    height: 100%;
    /*background: rgba(0, 0, 0, 0.6);*/
    z-index: 10;
}
.slide-focus-img{
    width:100%;
    /*float: left;*/
    /*position: relative;*/
    /* border: 15px solid rgba(14, 0, 0, 0.27); */
    border: 15px solid rgba(0, 0, 0, 0.64);
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

.carousel-details{
    width: 100%;
    left: 0%;
    padding: 0% 25% 8.8% 46%;
    text-align: left;
}
.c-left{
    text-align: left;
}
.carousel-title{
    font-size: 37px !important;
    padding-top: 3.4%;
    font-weight: 500;
    color: #fff;
    margin: 0 !important;
}
.carousel-artist{
    font-size: 24px !important;
    font-weight: 300;
    color: #fff;
}
.carousel-rank{
    font-size: 30px !important;
    font-weight: 300;
    float: left;
    margin-right: 11.7%;
    margin-top: 2%;
}
.carousel-album{
    font-size: 21px !important;
}
.carousel-getlist{
    font-size: 21px !important;
    color:#fff;
}
.carousel-singNum{
    font-size: 3em !important;
    float: left;
    margin-right: 5%;
    color:#fff;
}
.btn-lineUp-carousel{
    font-size: 1.4em !important;
    background: #ff281d;
    border:none;
    border-radius:inherit;
    cursor:pointer;
    padding: 5px 15px 10px 15px;
    line-height: 1.2;
    z-index:100001;
    /*border-color: #ff5951;*/
}
.btn-lineUp-carousel:hover {
    color: #ffffff;
    background-color: #ff5951;
    border-color: #ff5951;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* UNDER CAROUSEL UI CSS
-------------------------------------------------- */
.search_f{
    background:rgba(255, 255, 255, 0.35);
    height:90px;
    margin-top:-90px;
    z-index:1000;
}
.search_form{
    /*background-color: rgba(104, 104, 104, 0.4);;*/
    height:90px;
}
.main_search_input{
    width: 90%;
    height: 50%;
    border:2px solid #ffffff;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
    border-radius:21px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 20px;
    margin-top: 5.2%;
    color: #fff;
    font-size: 1.4em;
    float:left;
    outline: none;
}
.main_search_input:active, .main_search_input:focus{
    border:2px solid #ff281d;
    box-shadow: 0 0 3pt 2pt #ff281d;
}
.main_search_submit{
    width: 5.6%;
    height: 45%;
    margin-left: -10.5%;
    margin-top: 5.5%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('/images/view.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.content_box{
    background-color: rgba(0, 0, 0, 0.64);
    width: 100%;
    height: 250px;
    float: right;
    padding-top: 3.3%;
    /*margin-right: 29.5%;*/
}
.content_box-label{
    background-image: url('/KakaoTalk_20160514_051643042.png');
    background-size: 100%; 
    background-repeat: no-repeat;
    /*width: 25%; */
    height: 75px; 
    /*margin-top: 25px;*/
    color: #fff;
    padding-top: 5px;
}
.label_m{
    font-size: 2em;
    margin-left: 10%;
    font-weight: bold;
}




@media (max-width: 1800px) {
    .label_m{
        font-size: 1.8em;
        margin-left: 10%;
    }
    .content_box-label{
        background-size: 100%; 
        height: 68px;
    }
    .carousel-title{
        font-size: 35px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 23px !important;
    }
    .carousel-getlist{
        font-size: 21px !important;
    }
    .carousel-singNum{
        font-size: 2.8em !important;
    }
    .btn-lineUp-carousel{
        font-size: 1.3em !important;
        padding: 5px 15px 10px 15px;
        line-height: 1.2;
    }
    .content_box{
        width: 100%;
        height: 230px;
    }
    .slide-focus-img{
        width:230px;
    }
    .carousel {
        height: 490px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 490px;
    }
    .slide-background{
        height: 490px;
        background-size: cover;
        background-position: center center;
    }
    
}
@media (max-width: 1755px) {
    .label_m{
        font-size: 1.5em;
        margin-left: 10%;
    }
    .content_box-label{
        background-size: 90%; 
        height: 55px;
    }
    .carousel-title{
        font-size: 32px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 22px !important;
    }
    .carousel-getlist{
        font-size: 20px !important;
    }
    .carousel-singNum{
        font-size: 2.6em !important;
    }
    .btn-lineUp-carousel{
        font-size: 1.3em !important;
        padding: 5px 15px 10px 15px;
        line-height: 1.2;
    }
    .content_box{
        width: 100%;
        height: 225px;
    }
    .slide-focus-img{
        width:225px;
    }
    .carousel {
        height: 480px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 480px;
    }
    .slide-background{
        height: 480px;
        background-size: cover;
        background-position: center center;
    }
    
}
@media (max-width: 1700px) {
    .label_m{
        font-size: 1.5em;
        margin-left: 10%;
    }
    .content_box-label{
        background-size: 90%; 
        height: 55px;
    }
    .carousel-title{
        font-size: 32px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 22px !important;
    }
    .carousel-getlist{
        font-size: 20px !important;
    }
    .carousel-singNum{
        font-size: 2.6em !important;
    }
    .btn-lineUp-carousel{
        font-size: 1.3em !important;
        padding: 5px 15px 10px 15px;
        line-height: 1.2;
    }
    .content_box{
        width: 100%;
        height: 215px;
    }
    .slide-focus-img{
        width:215px;
    }
    .carousel {
        height: 475px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 475px;
    }
    .slide-background{
        height: 475px;
        background-size: cover;
        background-position: center center;
    }
    
}
@media (max-width: 1660px) {
    .carousel-title{
        font-size: 31px !important;
        padding-top: 3%;
    }
    .content_box{
        width: 100%;
        height: 210px;
    }
    .slide-focus-img{
        width:210px;
    }
    .carousel {
        height: 465px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 465px;
    }
    .slide-background{
        height: 465px;
        background-size: cover;
        background-position: center center;
    }
    
}
@media (max-width: 1625px) {
    .label_m{
        font-size: 1.4em;
        margin-left: 10%;
    }
    .content_box-label{
        background-size: 90%; 
        height: 55px;
    }
    .carousel-title{
        font-size: 31px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 21px !important;
    }
    .carousel-getlist{
        font-size: 19px !important;
    }
    .carousel-singNum{
        font-size: 2.4em !important;
    }
    .btn-lineUp-carousel{
        font-size: 1.1em !important;
        padding: 2px 12px 8px 12px;
        line-height: 1.2;
    }
    .content_box{
        width: 100%;
        height: 205px;
    }
    .slide-focus-img{
        width:205px;
    }
    .carousel {
        height: 465px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 465px;
    }
    .slide-background{
        height: 465px;
        background-size: cover;
        background-position: center center;
    }
    
}
@media (max-width: 1590px) {
    .label_m{
        margin-left: 8%;
    }
    .carousel-title{
        font-size: 30px !important;
        padding-top: 3%;
    }
    .content_box{
        height: 198px;
    }
    .slide-focus-img{
        width: 198px;
    }
    .carousel {
        height: 455px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 455px;
    }
    .slide-background{
        height: 455px;
        background-size: cover;
        background-position: center center;
    }
    
}
@media (max-width: 1540px) {
    .label_m{
        font-size: 1.3em;
        margin-left: 7%;
    }
    .content_box-label{
        background-size: 85%; 
        height: 48px;
    }
    .carousel-title{
        font-size: 28px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 21px !important;
    }
    .carousel-getlist{
        font-size: 19px !important;
    }
    .carousel-singNum{
        font-size: 2.2em !important;
    }
    .btn-lineUp-carousel{
        font-size: 1.1em !important;
        padding: 2px 12px 8px 12px;
        line-height: 1.2;
    }
    .content_box{
        width: 100%;
        height: 190px;
    }
    .slide-focus-img{
        width:190px;
    }
    .carousel {
        height: 435px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 435px;
    }
    .slide-background{
        height: 435px;
        background-size: cover;
        background-position: center center;
    }
    
}
@media (max-width: 1485px) {
    .label_m{
        font-size: 1.3em;
        margin-left: 7%;
    }
    .content_box-label{
        background-size: 85%; 
        height: 48px;
    }
    .carousel-title{
        font-size: 28px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 21px !important;
    }
    .carousel-getlist{
        font-size: 19px !important;
    }
    .carousel-singNum{
        font-size: 2em !important;
        margin-right: 8%;
    }
    .btn-lineUp-carousel{
        font-size: 1em !important;
        padding: 2px 12px 8px 12px;
        line-height: 1.2;
    }
    .content_box{
        width: 100%;
        height: 185px;
    }
    .slide-focus-img{
        width: 185px;
    }
    .carousel {
        height: 410px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 410px;
    }
    .slide-background{
        height: 410px;
        background-size: cover;
        background-position: center center;
    }
    
}
@media (max-width: 1450px) {
    .label_m{
        font-size: 1.2em;
        margin-left: 7%;
    }
    .content_box-label{
        background-size: 82%; 
        height: 45px;
    }
    .carousel-title{
        font-size: 27px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 20px !important;
    }
    .carousel-getlist{
        font-size: 18px !important;
    }
    .carousel-singNum{
        font-size: 1.8em !important;
        margin-right: 10%;
    }
    .btn-lineUp-carousel{
        font-size: 1em !important;
        padding: 3px 10px 9px 10px;
        line-height: 1.1;
    }
    .content_box{
        width: 100%;
        height: 176px;
    }
    .slide-focus-img{
        width: 176px;
    }
    .carousel {
        height: 410px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 410px;
    }
    .slide-background{
        height: 410px;
        background-size: cover;
        background-position: center center;
    }
}
@media (max-width: 1355px) {
    .label_m{
        font-size: 1.1em;
        margin-left: 5%;
    }
    .content_box-label{
        background-size: 80%; 
        height: 40px;
    }
    .carousel-title{
        font-size: 25px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 19px !important;
    }
    .carousel-getlist{
        font-size: 17px !important;
    }
    .carousel-singNum{
        font-size: 1.7em !important;
        margin-right: 10%;
    }
    .btn-lineUp-carousel{
        font-size: 1em !important;
        padding: 2px 8px 8px 8px;
        line-height: 1.1;
    }
    .content_box{
        width: 100%;
        height: 173px;
    }
    .slide-focus-img{
        width: 173px;
    }
    .carousel {
        height: 410px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 410px;
    }
    .slide-background{
        height: 410px;
        background-size: cover;
        background-position: center center;
    }
}
@media (max-width: 1300px) {
    .content_box{
        height: 165px;
    }
    .slide-focus-img{
        width: 165px;
    }
    .carousel {
        height: 390px;
    }
    .carousel-inner{
        height: 390px;
    }
    .slide-background{
        height: 390px;
    }
}
@media (max-width: 1260px) {
    .label_m{
        font-size: 1em;
        margin-left: 5%;
    }
    .content_box-label{
        background-size: 78%; 
        height: 37px;
    }
    .carousel-title{
        font-size: 23px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 18px !important;
    }
    .carousel-getlist{
        font-size: 15px !important;
    }
    .carousel-singNum{
        font-size: 1.6em !important;
        margin-right: 10%;
    }
    .btn-lineUp-carousel{
        font-size: 1em !important;
        padding: 2px 8px 8px 8px;
        line-height: 1.1;
    }
    .content_box{
        width: 100%;
        height: 160px;
    }
    .slide-focus-img{
        width: 160px;
    }
    .carousel {
        height: 380px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 380px;
    }
    .slide-background{
        height: 380px;
        background-size: cover;
        background-position: center center;
    }
}
@media (max-width: 1020px) {
    .label_m{
        font-size: 1em;
        margin-left: 5%;
    }
    .content_box-label{
        background-size: 85%; 
        height: 37px;
    }
    .carousel-title{
        font-size: 23px !important;
        padding-top: 3%;
    }
    .carousel-artist{
        font-size: 18px !important;
    }
    .carousel-getlist{
        font-size: 15px !important;
    }
    .carousel-singNum{
        font-size: 1.6em !important;
        margin-right: 10%;
    }
    .btn-lineUp-carousel{
        font-size: 1em !important;
        padding: 2px 8px 8px 8px;
        line-height: 1.1;
    }
    .content_box{
        width: 100%;
        height: 155px;
    }
    .slide-focus-img{
        width: 155px;
    }
    .carousel {
        height: 360px;
        margin-top: 90px;
    }
    .carousel-inner{
        height: 360px;
    }
    .slide-background{
        height: 360px;
        background-size: cover;
        background-position: center center;
    }
}