<%= render partial: 'home/mylist/header', layout: false %>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <%= render partial: 'home/mylist/contents', layout: false %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
