<div class="container">
  <nav id="navbar_header" class="navbar navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="row">
    <div class="navbar-header col-xs-2 col-sm-2 col-md-2">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      -->
      <a class="navbar-brand" href="#">로고</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-xs-10 col-sm-10 col-md-10">
      <!-- 고래방 차트, 추천고래, 마이리스트 메뉴 -->
      <ul class="nav navbar-nav navbar_left_btn hidden-xs" style="float:left;">
        <li>

        <a href="#">고래방 차트</a>
        </li>
        <li >
        <a href="#">추천고래</a>
        </li>
        <li>
        <a href="#">마이리스트</a>
        </li>
      </ul>
      <!-- Menu End -->

      <!-- Dropdown test-->
      <ul class="nav navbar-nav navbar-right" style="float:right;" >
        <li style="float:left;"><a href="#">Link</a></li>
        <li class="dropdown" style="float:left; padding-right:20px;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        </li>
      </ul>
    </div>
    <!-- Dropdown test end -->
  </div>
  <!-- /.navbar-collapse -->
  <!-- /.container -->
  </nav>
</div>
