<div id="footer">
    <div class="wrapper responsive-mask">
        <div class="upper">
            <div class="name"><a href="/admin/awesome_4d">for d</a></div>
            <div class="sns">
                <a href="http://facebook.com/watcha.net" target="_blank" class="fb">페이스북</a>
                <a href="https://twitter.com/watcha_app" target="_blank" class="twitter">트위터</a>
                <a href="http://frograms.com/blog" target="_blank" class="blog">블로그</a>
            </div>
        </div>
        <div class="count-like-tweet">
            <div class="count">
                <div class="text">
                    <span class="star-icon"></span>
                    <span class="number">256,932,330</span>
                    개의 별점 평가가 쌓이고 있습니다.
                </div>
            </div>
            <div class="social_plugin_wrapper">
                <div class="fb-like plugin" data-href="http://watcha.net" data-send="false" data-layout="button_count" data-width="130" data-show-faces="false"></div>
                <a href="https://twitter.com/share" class="twitter-share-button plugin" data-text="내 취향을 분석하는 음악 추천 - 고래방! 예전에 본 음악에 별점만 매기면, 고래방가 내 취향을 분석해서 자동으로 음악를 추천해드려요!" data-url="http://watcha.net" data-related="watcha_app" data-lang="en">Tweet</a>
            </div>
        </div>
        <div class="info">
            사업자명 (주식회사 프로그램스) 사업자번호 (211-88-66013)
            Copyright © 2014 by Frograms. Inc. All rights reserved
        </div>
    </div>
</div>