
<form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input type="hidden" name="utf8" type="hidden" value="&#x2713;"/><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <!-- Logo -->
    <div style="text-align:center;">
        <%= image_tag 'whale3.png', size: "400" %>
    </div>
    <!-- Logo end -->
    <div style="margin: 0% 0% 10% 0%;">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6">
            <!-- 왼쪽 DIV -->
            <div class="field col-md-5 col-lg-5" style="height:400px; display:inline;padding:50px 44px 30px 44px; background: rgba(255, 255, 255, 0.7); border-radius: 5px; border: 1px solid #ebebeb;">
                <input autofocus="autofocus" type="email" name="user[email]" class="form-control_f" id="user_email" placeholder="이메일을 입력하세요." style="margin-bottom:20px; width:100%"><br/>
                <div>
                    <input autocomplete="off" type="password" name="user[password]" class="form-control_f" id="user_password" placeholder="비밀번호를 입력하세요." style="margin-bottom:10px; width:60%">
                    <button type="submit" class="btn btn-primary btn-sm active" style="float:right; width:35%;">Login</button>
                </div>
                <div class="actions" style="height:20%;">
                    <div type="field" style="padding-top: 4px; float:left;">
                        <input type="hidden" name="user[remember_me]"  type="hidden" value="0" style="margin:0px 5px;" /><input type="checkbox" name="user[remember_me]"  type="hidden" value="1" id="user_remember_me" style="margin:0px 5px;" />
                    </div>
                    <span style="font-size:16px;">이메일 저장</span>
                    <!-- <input type="submit" name="commit" value="로그인" class="login_for_what" style="background: #00a1ff; margin-bottom:11%; float:right;"><br><br> -->
                </div>

                <div style="margin:15px 0px 25px 0px;">
                    <a href="/users/password/new" class="else_sign_match_btn" style="float:right;">비밀번호 찾기</a>
                </div>
                <br>

                <div style="border-top:1px solid rgba(125, 125, 125, 0.5); border-bottom:1px solid rgba(125, 125, 125, 0.5); padding:10px 0px 10px 0px;">
                    <!-- <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> <br/> -->
                    <a href="/users/auth/facebook">
                        <button type="button" class="btn btn-primary btn-lg active" style="width:100%;">Login with Facebook</button>
                    </a>
                    <br/><br/>
                    <button type="button" class="btn btn-warning btn-lg active" style="color:black; width:100%; background-color:yellow;">Login with KakaoTalk</button>
                </div>

            </div>

            <div class="col-md-2 col-lg-2"></div>

            <!-- 오른쪽 DIV -->
            <div class="field col-md-5 col-lg-5" style="height:400px; display:inline; padding:50px 44px 30px 44px; background: rgba(255, 255, 255, 0.7); border-radius: 5px; border: 1px solid #ebebeb;">
                <div >
                    <div style="height:60%;"><h3 style="margin-top: 0px;">지금 고래방에 가입하고 천국가세요!</h3></div>
                    <div style="border-top:1px solid rgba(125, 125, 125, 0.5); border-bottom:1px solid rgba(125, 125, 125, 0.5); padding:10px 0px 10px 0px;">
                        <a href="" class="else_sign_match_btn" style=""><button type="button" class="btn btn-primary btn-lg active" style="width:100%; margin-bottom:20px;">고래방 소개</button></a>
                        <a href="/users/sign_up" class="else_sign_match_btn" style=""><button type="button" class="btn btn-primary btn-lg active" style="width:100%;">Sign Up</button></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
</form>
