<!--<div id="home-banner" data-cookie-key="induceEvaluation">-->
    <!--<img src="https://d12hfz37g51hrt.cloudfront.net/assets/home/home_banner-2430c3501126d0e7713ee1ff8b5db376.png" width="700" height="161" alt="평가가 부족합니다! 평가를 15개 이상 하셔서 내 예상별점을 확인해 보세요!">-->
    <!--<a class="go-to-evalmore" href="/evalmore">음악 평가하러 가기</a>-->
    <!--<span class="close">닫기</span>-->
<!--    <div style="width:1400px; height:50px; background-color:#aeaeae;">-->
<!--        <ul style="width:100%; height:50px;">-->
<!--            <li style="width:10%; height:100%; float:left;">왼쪽 여백</li>-->
<!--            <li style="width:20%; height:100%; float:left; background-color:red;">고래방 추천 테마곡</li>-->
<!--            <li style="width:20%; height:100%; float:left; background-color:yellow;">노래방 인기 Top100</li>-->
<!--            <li style="width:20%; height:100%; float:left; background-color:green;">내 음역대 측정하기</li>-->
<!--            <li style="width:20%; height:100%; float:left; background-color:blue;">마이 리스트 </li>-->
<!--            <li style="width:10%; height:100%; float:left;">오른쪽 여백</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->